<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="Atlas" Manufacturer="JakobHellermann" Version="1.3.2.0"
        UpgradeCode="0d205f44-59e8-419f-a56b-11f7c9aa9211">
        <MediaTemplate EmbedCab="true" />
        <MajorUpgrade
            AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. If you are sure you want to downgrade, remove the existing installation via the Control Panel" />
        <Icon Id="icon.ico" SourceFile="ui/assets/icon/icon.ico" />

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>

        <Feature Id="Main">
            <Component Directory="INSTALLFOLDER">
                <File Source="target/release/atlas.exe" KeyPath="true">
                    <Shortcut Id="Shortcut"
                        Name="Atlas"
                        Icon="icon.ico"
                        Directory="StartMenuFolder"
                        Advertise="true">
                    </Shortcut>
                </File>
            </Component>
        </Feature>
    </Package>
</Wix>
